.vscode/settings.json
armor_output.ini
enemy_output.ini
weapon_output.ini
DatabaseArmors.csv
DatabaseEnemies.csv
DatabaseWeapons.csv
weapons_dump.json
weapons_output.toml
233.py
234.py
unknown_support.py
unknown.py
__pycache__/
z233.py
233.md
234.md
zt234.py
